In [25]:
import pandas as pd
import numpy as np

data = {
    "EmailID": [10, 20, 30, 40, 50, 60],
    "Subject": [
        "WIN $1000 NOW!!!",       # Loud Spam (3 bangs)
        "Meeting at 2pm",         # Normal
        np.nan,                   # Broken Data (Drop this)
        "Hello friend!!",         # Normal (2 bangs)
        "URGENT RESPONSE!!!",     # Loud Spam (3 bangs)
        "Lunch?"                  # Normal
    ],
    "Label": ["Spam", "Ham", "Spam", "Ham", "Spam", "Ham"]
}

df = pd.DataFrame(data)
print("Original Data:")
df

Original Data:

   EmailID             Subject Label
0       10    WIN $1000 NOW!!!  Spam
1       20      Meeting at 2pm   Ham
2       30                 NaN  Spam
3       40      Hello friend!!   Ham
4       50  URGENT RESPONSE!!!  Spam
5       60              Lunch?   Ham

In [26]:
df.dropna(subset=['Subject'])

   EmailID             Subject Label
0       10    WIN $1000 NOW!!!  Spam
1       20      Meeting at 2pm   Ham
3       40      Hello friend!!   Ham
4       50  URGENT RESPONSE!!!  Spam
5       60              Lunch?   Ham

In [27]:
is_spam = {"Spam": 1, "Ham": 0}
df['Is_Spam'] = df['Label'].map(is_spam)
df

   EmailID             Subject Label  Is_Spam
0       10    WIN $1000 NOW!!!  Spam        1
1       20      Meeting at 2pm   Ham        0
2       30                 NaN  Spam        1
3       40      Hello friend!!   Ham        0
4       50  URGENT RESPONSE!!!  Spam        1
5       60              Lunch?   Ham        0

In [43]:
df['Bang_Count'] = df["Subject"].str.count("!")
df

   EmailID             Subject Label  Is_Spam  Bang_Count   filt
0       10    WIN $1000 NOW!!!  Spam        1         3.0   True
1       20      Meeting at 2pm   Ham        0         0.0  False
2       30                 NaN  Spam        1         NaN  False
3       40      Hello friend!!   Ham        0         2.0  False
4       50  URGENT RESPONSE!!!  Spam        1         3.0   True
5       60              Lunch?   Ham        0         0.0  False

In [40]:
filt = (df['Is_Spam'] == 1) & (df['Bang_Count'] > 2.0)
df.loc[filt]

   EmailID             Subject Label  Is_Spam  Bang_Count  filt
0       10    WIN $1000 NOW!!!  Spam        1         3.0  True
4       50  URGENT RESPONSE!!!  Spam        1         3.0  True

In [44]:
import pandas as pd

# Timestamps are in Milliseconds (ms)
data = {
    "Key": ["a", "s", "d", "f", "g"],
    "Press_Time":   [1000, 1200, 1500, 2000, 3500],
    "Release_Time": [1100, 1250, 1550, 2200, 4500], # Notice the last one took a long time!
    "User_Status":  ["Normal", "Normal", "Normal", "Normal", "Depressed"]
}

df = pd.DataFrame(data)
df

  Key  Press_Time  Release_Time User_Status
0   a        1000          1100      Normal
1   s        1200          1250      Normal
2   d        1500          1550      Normal
3   f        2000          2200      Normal
4   g        3500          4500   Depressed

In [45]:
df['Dwell_Time'] = (df['Release_Time'] - df['Press_Time'])
df

  Key  Press_Time  Release_Time User_Status  Dwell_Time
0   a        1000          1100      Normal         100
1   s        1200          1250      Normal          50
2   d        1500          1550      Normal          50
3   f        2000          2200      Normal         200
4   g        3500          4500   Depressed        1000

In [46]:
fill = df['Dwell_Time'] > 500
df[fill]

  Key  Press_Time  Release_Time User_Status  Dwell_Time
4   g        3500          4500   Depressed        1000